/*

http://www.stm.dp.ua/web-design/color-html.php - Цвета HTML
http://wrapbootstrap.com/preview/WB09JXK43 - Шаблон дизайна
http://www.twitlogo.com/minizakupki.kz/90/56FF32/FFFFFF/ - Генератор логотипов

*/

.procces
{
	display:none;
}

.imgCounter
{
 position:absolute;
 left:50%;
}

.imgCounter img
{
 position:relative;
 right:50%;
}



 .brd {
    border: 4px dotted grey; /* Параметры границы solid*/

    padding: 10px; /* Поля вокруг текста */
   }
   
 
.classTitleText1 {
	
	background-color: #F0FFF0;
	margin: 10px 10px 10px 10px !important;
}


.classTitleText {
	
	background-color: #F0FFF0;
	margin-bottom: 10px !important;
}

.center_td{
	vertical-align: middle !important;
	text-align: center !important;
}

.button_grid{
    display: block;
    padding: 0;
    width: 100%;
}

.table tr th
{
	text-align:center;
	/*.Цвет шапки списка.background-color:#B1B9C5 ;*/
	font-size: 12px;
    line-height: 15px;
}

.table tr td
{
	font-size: 12px;
    line-height: 15px;
}

.activeFilterGrid td
{
	background-color:#fff7d7;
}

.status_lota_id
{
	margin: -3px 0 0 0 !important;
}

.activeTable td
{
	Цвет при клике на список..background-color:#85A4DC;
}


.contHeader
{
	text-align: right;
    padding: 20px 0px 20px 0px;
}

.otstup_button
{
    margin: 0px 0px 10px 0px;
}

.contHeader ul
{
	padding: 0;
    margin: 0;
}

.contHeader ul li
{
	list-style: none;
}

.contHeader ul li address
{
    display: inline-block !important;
    padding: 0;
    margin: 0;
}

.po_centru {
  padding: 3em 0;
  text-align: center;
}

.widthformfilter {
	width: 100% !important;
}

.widthformfiltertwo {
    width: 99% !important;
}

.widthformfilterthree {
    width: 97.5% !important;
}

.widthformfilterfour {
    width: 99.5% !important;
	height: 150px;
}


.widthformfilterfive {
    width: 95.5% !important;
	display: inline-block;

}

.clear
{
	clear:both;
}

.floatsLeft
{
	float:left;
}

.floatsRight
{
	float:right;
}

.faqlist
{
	margin:0;
	padding:0;
}

.faqlist li
{
	list-style:none;
	padding: 5px 0 5px 10px;
	
}

.faqlist li span
{
	font-size:20px;
}	

.classQuest {
	
	background-color: #E6E6FA;
    color: #000000;
}

.classAnsw {
	background-color: #FFFFFF;
    color: #000000;
	
}

.error
{
	color:red;
	font-size:11px;
}


.geltiq
{
	background-color:#F00;
}

.select_record
{
	cursor:pointer;
}



.positions
{
	position:relative;
	z-index:20;
}

